@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.shadow, .about, .pool, .transfer {
  box-shadow: 0px 0px 4px -2px #ff4b2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, ul, li, form, input {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
}

.overflow {
  overflow: hidden;
}

.section__title {
  font-size: 32px;
  font-weight: bold;
}
.section__content-title {
  font-size: 26px;
  font-weight: 600;
}
.section__content-text {
  font-size: 19px;
}

.container {
  max-width: 1030px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  color: #fff;
  min-width: 210px;
  display: inline-block;
  padding: 17px 21px;
  background: #ff2400;
  border-radius: 50px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.button:hover {
  background: #ff4b2f;
}

.button-transperent {
  background: transparent;
  border: 1px solid #ff2400;
  color: #ff2400;
}
.button-transperent:hover {
  background: #ff2400;
  color: #ffffff;
}

.header {
  padding: 8px 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-item + .header__menu-item {
  margin-left: 30px;
}
.header__menu-link {
  font-size: 19px;
}
.header__menu-link:hover {
  color: #ff2400;
  -moz-text-decoration-line: underline;
       text-decoration-line: underline;
}
.header__adress {
  font-size: 19px;
  display: block;
  margin-bottom: 7px;
}
.header__contact {
  text-align: end;
}
.header__phone {
  font-size: 21px;
  font-weight: 700;
}
.header__phone span {
  color: #ff2400;
}

.offer {
  background-image: url(..//img/offer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: #fff;
  padding: 165px 0 165px 0;
}
.offer__content {
  margin-left: auto;
  max-width: 500px;
  text-align: end;
}
.offer__title {
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 20px;
}
.offer__list {
  margin-bottom: 23px;
}
.offer__list-item {
  font-size: 23px;
  display: block;
  margin-bottom: 9px;
}
.offer__button {
  padding: 18px 42px;
}

.about {
  padding: 95px 0;
  background-color: #fcfafb;
}
.about__title {
  margin-bottom: 40px;
}
.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__text {
  max-width: 573px;
}
.about__text p {
  display: block;
  padding: 0 15px 0 0;
  font-size: 19px;
  line-height: 1.4;
  margin-bottom: 9px;
}
.about__list {
  margin-top: 36px;
}
.about__list-item {
  display: block;
  min-height: 50px;
  font-size: 19px;
  padding-left: 70px;
  position: relative;
  margin-bottom: 28px;
}
.about__list-item span {
  position: absolute;
  top: -25%;
  left: 0;
  width: 50px;
  height: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.about__list-item1 span {
  background-image: url(..//img/about/bus.png);
}
.about__list-item2 span {
  background-image: url(..//img/about/parking.png);
}
.about__list-item3 span {
  background-image: url(..//img/about/wifi.png);
}
.about__list-item4 span {
  background-image: url(..//img/about/pool.png);
}
.about__list-item5 span {
  background-image: url(..//img/about/billiards.png);
}

.rooms {
  padding: 95px 0;
}
.rooms img {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
.rooms__title {
  margin-bottom: 17px;
}
.rooms__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
}
.rooms__wrapper:last-child {
  margin-top: 60px;
}
.rooms__content {
  padding: 20px 20px 0 0px;
  max-width: 450px;
  min-width: 450px;
}
.rooms__content-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 24px;
}
.rooms__guest {
  font-size: 16px;
  padding-left: 40px;
  position: relative;
  margin-bottom: 20px;
}
.rooms__guest-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(..//img/rooms/person.png);
  background-repeat: no-repeat;
}
.rooms__list-item {
  font-size: 19px;
  padding-left: 40px;
  position: relative;
  margin-bottom: 25px;
}
.rooms__list-item_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(..//img/rooms/bedroom.png);
  background-repeat: no-repeat;
}
.rooms__list-item_bold {
  font-weight: bold;
}

.pool {
  background-color: #fcfafb;
  padding: 95px 0;
}
.pool__wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pool__content {
  max-width: 450px;
  padding: 0 15px 0 0;
}
.pool__title {
  margin-bottom: 24px;
}
.pool__content-title {
  margin-bottom: 19px;
}
.pool__content-text {
  margin-bottom: 30px;
}

.galery {
  padding: 95px 0 35px 0;
}
.galery__title {
  margin-bottom: 22px;
}
.galery__wrapper{
  margin-bottom: 60px;
}
.transfer {
  background-color: #fcfafb;
  padding: 95px 0;
}
.transfer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.transfer__title {
  margin-bottom: 30px;
}
.transfer__content {
  max-width: 450px;
  padding: 0 15px;
}
.transfer__content-title {
  margin-bottom: 19px;
}
.transfer__content-text {
  margin-bottom: 30px;
}

.contacts {
  width: 100%;
  min-height: 407px;
  position: relative;
}
.contacts__title {
  margin-bottom: 30px;
}
.contacts__map-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.contacts__map-static {
  display: block;
  margin: 0 auto;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
}
.contacts__content {
  z-index: 0;
  text-align: center;
  margin-left: auto;
  margin-top: 58px;
  max-width: 437px;
  width: 100%;
  padding: 28px;
  background: #fcfafb;
  border-radius: 12px;
  box-shadow: 0px 0px 2px 0px black;
}
.contacts__content-title {
  margin-bottom: 19px;
}
.contacts__adress {
  margin-bottom: 15px;
  font-weight: 600;
}
.contacts__tel {
  display: block;
  margin-bottom: 10px;
}
.contacts__tel:hover {
  -moz-text-decoration-line: underline;
       text-decoration-line: underline;
}
.contacts__mail {
  display: block;
  margin-bottom: 20px;
}
.contacts__mail:hover {
  -moz-text-decoration-line: underline;
       text-decoration-line: underline;
}

.footer {
  background: #292727;
  padding: 15px;
  color: #fff;
}
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.footer ul li a:hover {
  text-decoration: underline;
}
.footer__menu-item {
  margin-left: 35px;
}
.footer__pay-title {
  margin-bottom: 5px;
}
.footer__copy {
  text-align: center;
  font-size: 11px;
  color: #ccc;
  border-top: 1px solid;
  padding-top: 15px;
}

.popap {
  opacity: 0;
  visibility: hidden;
}
.popap__wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
}
.popap__inner {
  opacity: 0;
  min-width: 290px;
  max-width: 310px;
  min-height: 400px;
  background: #fcfafb;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 2px 0px black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
.popap__button-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 0px 2px 0px black;
  cursor: pointer;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.popap__button-close span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 25px;
  height: 2px;
  background: #000;
}
.popap__button-close span:last-child {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.popap__button-close:hover {
  background: #ff2400;
}
.popap__button-close:hover span {
  background: #FFF;
}
.popap__title {
  padding: 20px 10px;
  background: #ff2400;
  border-radius: 12px 12px 0 0;
  margin-bottom: 35px;
}
.popap__title-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 5px;
}
.popap__title-text {
  text-align: center;
  font-size: 16px;
}
.popap__form {
  text-align: center;
  padding: 0 15px;
}
.popap__form-input {
  display: block;
  width: 85%;
  min-height: 50px;
  border-radius: 12px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 15px;
  padding: 15px;
  outline: none;
}
.popap__form-button {
  display: block;
  margin: 0 auto;
  margin-top: 36px;
  width: 85%;
  padding: 17px 21px;
  background: #ff2400;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  outline: none;
}
.popap__form-button:hover {
  background: #ff4b2f;
}
.popap-active {
  visibility: visible;
  opacity: 1;
}
.popap__inner-active {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
